name: Run Rubocop and RSpec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  rubocop:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run Rubocop
        run: bundle exec rake rubocop

  test-on-mysql:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1']
        mysql-version: ['5.7', '8.0']

    steps:
      - uses: actions/checkout@v2
      - uses: ankane/setup-mysql@v1
        with:
          mysql-version: ${{ matrix.mysql-version }}
      - name: Create the test database
        run: mysqladmin create rails_cursor_pagination_testing
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run tests
        run: bundle exec rake spec
        env:
          DB_ADAPTER: mysql2
          DB_HOST: 127.0.0.1
          DB_USER: root

  test-on-postgres:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1']
        postgres-version: [14, 13, 12]

    steps:
      - uses: actions/checkout@v2
      - uses: ankane/setup-postgres@v1
        with:
          postgres-version: ${{ matrix.postgres-version }}
      - name: Create the test database
        run: createdb rails_cursor_pagination_testing
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run tests
        run: bundle exec rake spec
        env:
          DB_ADAPTER: postgresql
          DB_HOST: 127.0.0.1
          DB_USER: ${{ env.USER }}
